# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db

\.vs/AdvancedSoftwareAssignment/v15/ipch/

*.tlog

*.log

*.idb

*.pdb

*.filters

SoftwareAssignment1/SoftwareAssignment1\.vcxproj\.user

Debug/SoftwareAssignment1\.ilk
